 
        <div class="row">
            <div class="col-xl-12">

                <!-- projetos -->
                <div *ngIf="view == 'projects'"> 
                
                    <div class="row" >

                        <div class="col-xl-4" *ngFor="let item of projects">

                            <div class="card">
                                
                                <div class="card-header border-0">
                                    <div class="products">
                                        <img src="assets/images/user1.jpg" class="avatar avatar-md rounded-circle" alt="">
                                        <div>
                                            <h5 class="mb-0"><a href="javascript:void(0)" class="text-black">{{item.name}}</a></h5>
                                            <span>8 Hours ago</span>	
                                        </div>	
                                    </div>
                                    <div class="dropdown custom-dropdown ">
                                        <div class="btn sharp btn-primary tp-btn  ms-3" data-bs-toggle="dropdown">
                                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.5202 17.4167C13.5202 18.81 12.3927 19.9375 10.9994 19.9375C9.60601 19.9375 8.47852 18.81 8.47852 17.4167C8.47852 16.0233 9.60601 14.8958 10.9994 14.8958C12.3927 14.8958 13.5202 16.0233 13.5202 17.4167ZM9.85352 17.4167C9.85352 18.0492 10.3669 18.5625 10.9994 18.5625C11.6319 18.5625 12.1452 18.0492 12.1452 17.4167C12.1452 16.7842 11.6319 16.2708 10.9994 16.2708C10.3669 16.2708 9.85352 16.7842 9.85352 17.4167Z" fill="#2696FD"/>
                                            <path d="M13.5202 4.58369C13.5202 5.97699 12.3927 7.10449 10.9994 7.10449C9.60601 7.10449 8.47852 5.97699 8.47852 4.58369C8.47852 3.19029 9.60601 2.06279 10.9994 2.06279C12.3927 2.06279 13.5202 3.19029 13.5202 4.58369ZM9.85352 4.58369C9.85352 5.21619 10.3669 5.72949 10.9994 5.72949C11.6319 5.72949 12.1452 5.21619 12.1452 4.58369C12.1452 3.95119 11.6319 3.43779 10.9994 3.43779C10.3669 3.43779 9.85352 3.95119 9.85352 4.58369Z" fill="#2696FD"/>
                                            <path d="M13.5202 10.9997C13.5202 12.393 12.3927 13.5205 10.9994 13.5205C9.60601 13.5205 8.47852 12.393 8.47852 10.9997C8.47852 9.6063 9.60601 8.4788 10.9994 8.4788C12.3927 8.4788 13.5202 9.6063 13.5202 10.9997ZM9.85352 10.9997C9.85352 11.6322 10.3669 12.1455 10.9994 12.1455C11.6319 12.1455 12.1452 11.6322 12.1452 10.9997C12.1452 10.3672 11.6319 9.8538 10.9994 9.8538C10.3669 9.8538 9.85352 10.3672 9.85352 10.9997Z" fill="#2696FD"/>
                                            </svg>

                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item"   (click)="removeGroupProject(item._id)">Remove</a>
                                            <a class="dropdown-item"  href="javascript:void(0);">Option 2</a>
                                            <a class="dropdown-item"  href="javascript:void(0);">Option 3</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body pt-0">
                                    <div class="post-img">
                                        <img src="assets/images/post/post1.jpg" alt=""  (click)="viewCampanhas(item);">	
                                    </div>
                                    <div class="post-see d-flex align-items-center mt-3">
                                    <ul>
                                        <li class="avatar-list avatar-list-stacked">
                                            <img src="assets/images/contacts/pic1.jpg" class="avatar rounded-circle" alt="">
                                            <img src="assets/images/contacts/pic777.jpg" class="avatar rounded-circle" alt="">
                                            <img src="assets/images/contacts/pic666.jpg" class="avatar rounded-circle" alt="">
                                        </li>
                                    </ul>
                                    <h6 class="mb-0 ms-3">+3 people see this post</h6>
                                    </div>
                                    <div class="mt-3">
                                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </span>
                                    </div>
                                    <ul class="post-comment d-flex mt-3">
                                    <li>
                                        <label class="me-3"><a href="javascript:void(0)"><i class="fa-regular fa-heart me-2"></i>Like</a></label>
                                    </li>
                                    <li>
                                        <label class="me-3"><a href="javascript:void(0)"><i class="fa-regular fa-message me-2"></i>Comment</a></label>
                                    </li>
                                    <li>
                                        <label class="me-3"><a href="javascript:void(0)"><i class="fa-solid fa-share me-2"></i>Share</a></label>										  </li>
                                    </ul>
                                </div>

                            </div>

                        </div>  
                        
                        <div class="col-xl-4">
                            <div class="  add-new-card text-center">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                    <button class="btn btn-primary btn-lg mb-3" (click)="addNewProjectGroup()">
                                        <i class="fa-solid fa-plus me-2"></i>Cadastrar Novo
                                    </button> 
                                </div>
                            </div>
                        </div> 

                    </div>

                </div>

                <!-- thumbnails & campanhas -->
                <div *ngIf="view == 'cards'"> 

                    <div class="row" >

                        <div class="col-xl-4" *ngFor="let item of cards">

                            <div class="card">
                                
                                <div class="card-header border-0">
                                    <div class="products">
                                        <img src="assets/images/user1.jpg" class="avatar avatar-md rounded-circle" alt="">
                                        <div>
                                            <h5 class="mb-0"><a href="javascript:void(0)" class="text-black">{{item.name}}</a></h5>
                                            <span>8 Hours ago</span>	
                                        </div>	
                                    </div>
                                    <div class="dropdown custom-dropdown ">
                                        <div class="btn sharp btn-primary tp-btn  ms-3" data-bs-toggle="dropdown">
                                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.5202 17.4167C13.5202 18.81 12.3927 19.9375 10.9994 19.9375C9.60601 19.9375 8.47852 18.81 8.47852 17.4167C8.47852 16.0233 9.60601 14.8958 10.9994 14.8958C12.3927 14.8958 13.5202 16.0233 13.5202 17.4167ZM9.85352 17.4167C9.85352 18.0492 10.3669 18.5625 10.9994 18.5625C11.6319 18.5625 12.1452 18.0492 12.1452 17.4167C12.1452 16.7842 11.6319 16.2708 10.9994 16.2708C10.3669 16.2708 9.85352 16.7842 9.85352 17.4167Z" fill="#2696FD"/>
                                            <path d="M13.5202 4.58369C13.5202 5.97699 12.3927 7.10449 10.9994 7.10449C9.60601 7.10449 8.47852 5.97699 8.47852 4.58369C8.47852 3.19029 9.60601 2.06279 10.9994 2.06279C12.3927 2.06279 13.5202 3.19029 13.5202 4.58369ZM9.85352 4.58369C9.85352 5.21619 10.3669 5.72949 10.9994 5.72949C11.6319 5.72949 12.1452 5.21619 12.1452 4.58369C12.1452 3.95119 11.6319 3.43779 10.9994 3.43779C10.3669 3.43779 9.85352 3.95119 9.85352 4.58369Z" fill="#2696FD"/>
                                            <path d="M13.5202 10.9997C13.5202 12.393 12.3927 13.5205 10.9994 13.5205C9.60601 13.5205 8.47852 12.393 8.47852 10.9997C8.47852 9.6063 9.60601 8.4788 10.9994 8.4788C12.3927 8.4788 13.5202 9.6063 13.5202 10.9997ZM9.85352 10.9997C9.85352 11.6322 10.3669 12.1455 10.9994 12.1455C11.6319 12.1455 12.1452 11.6322 12.1452 10.9997C12.1452 10.3672 11.6319 9.8538 10.9994 9.8538C10.3669 9.8538 9.85352 10.3672 9.85352 10.9997Z" fill="#2696FD"/>
                                            </svg>

                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" (click)="removeThumb('card', item._id)">Remove</a>
                                            <a class="dropdown-item"  href="javascript:void(0);">Option 2</a>
                                            <a class="dropdown-item"  href="javascript:void(0);">Option 3</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body pt-0">
                                    <div class="post-img">
                                        <img src="assets/images/post/post1.jpg" alt="">	
                                    </div>
                                    <div class="post-see d-flex align-items-center mt-3">
                                    <ul>
                                        <li class="avatar-list avatar-list-stacked">
                                            <img src="assets/images/contacts/pic1.jpg" class="avatar rounded-circle" alt="">
                                            <img src="assets/images/contacts/pic777.jpg" class="avatar rounded-circle" alt="">
                                            <img src="assets/images/contacts/pic666.jpg" class="avatar rounded-circle" alt="">
                                        </li>
                                    </ul>
                                    <h6 class="mb-0 ms-3">+3 people see this post</h6>
                                    </div>
                                    <div class="mt-3">
                                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </span>
                                    </div>
                                    <ul class="post-comment d-flex mt-3">
                                    <li (click)="setLike(item)">
                                        <label class="me-3"><a ><i class="fa-regular fa-heart me-2"></i>Like</a></label>
                                    </li>
                                    <li>
                                        <label class="me-3"><a href="javascript:void(0)"><i class="fa-regular fa-message me-2"></i>Comment</a></label>
                                    </li>
                                    <li>
                                        <label class="me-3"><a href="javascript:void(0)"><i class="fa-solid fa-share me-2"></i>Share</a></label>										  </li>
                                    </ul>
                                </div>

                            </div>

                        </div>  
                        
                        <div class="col-xl-4">
                            <div class="  add-new-card text-center">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                    <button class="btn btn-primary btn-lg mb-3" (click)="addNewProjectGroup()">
                                        <i class="fa-solid fa-plus me-2"></i>Cadastrar Novo
                                    </button> 
                                </div>
                            </div>
                        </div> 

                    </div>

                </div>

            </div>
        </div>
 