a {
    cursor: pointer; /* Garante que o cursor muda para "pointer" */
    text-decoration: none; /* Remove sublinhado do link */
    color: inherit; /* Usa a cor do pai, ou ajuste conforme necessário */
  }
  
  a:hover {
    color: #007bff; /* Altere a cor do texto ao passar o mouse */
  }
  
  a.router-link-active {
    font-weight: bold; /* Destaca a rota ativa */
  }
  